<% if notice.present? %>
  <p id="notice">
    <%= notice %>
  </p>
<% end %>

<h1>Task Manager</h1>

<div class="mt-4">
  <%= render "form", task:@task %>
</div>

<div id="tasks" data-controller="tasks">
  <h1>Tasks</h1>
  <div>
    <%= render @tasks %>
  </div>
</div>


